---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found" description="Page not found.">
	<main>
		<h2>404</h2>
		<p>Sorry, we couldn't find the page you're looking for.</p>
		<p>Go back <a href="/WDN">home</a></p>
	</main>
</Layout>

<style>
	h2 {
		opacity: 0.8;
		font-weight: 700;
		font-size: 4rem;
		margin: 0;
		margin-top: calc(8rem + 5vw);
	}

	main {
		text-align: center;
		font-size: 1.5rem;
	}

	p {
		margin: 0;
	}
</style>
