---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import SearchInput from "../components/SearchInput.astro";
---

<Layout title="Home Page">
    <Navbar />

    <main>
        <h3>Have a question?</h3>
        <SearchInput />

        <div class="category">
            Or browse a category:
            <button>
                <img src="./faq.svg" /> Frequenly Asked Questions
            </button>
            <button>
                <img src="./issue.svg" />
                Common Course Issues
            </button>
        </div>
    </main>

    <style>
        h3 {
            color: var(--primary-color);
            opacity: 0.8;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
        }

        main {
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .category {
            margin-top: 60px;
            color: var(--primary-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        .category button {
            border-radius: 46px;
            border: none;
            background-color: var(--primary-bg-color);
            padding: 15px 50px;
            margin-top: 20px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: var(--purple-shade);
            width: 400px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .category button img {
            margin-right: 20px;
        }
    </style>
</Layout>
