---
import SearchInput from '../components/SearchInput.svelte';
import SearchResults from '../components/SearchResults.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page" description="Search common issues in Colt's Web Dev Bootcamp Udemy course.">
	<img class="cat" src="/WDN/cat.svg" alt="" />
	<main>
		<h2>Have a question?</h2>
		<SearchInput client:only />
		<SearchResults client:only />
	</main>
</Layout>

<style>
	h2 {
		opacity: 0.8;
		font-weight: 700;
		font-size: clamp(1.5rem, 5vw, 2.5rem);
	}

	main {
		margin-top: 4vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.cat {
		top: 25%;
		right: calc(38vw - 32rem);
		width: 80rem;
		position: fixed;
		z-index: -10;
		pointer-events: none;
	}
	h3 {
		opacity: 0.8;
		font-weight: 500;
		font-size: 40px;
	}
</style>
