---
import Layout from "../layouts/Layout.astro";
import Navbar from "./Navbar.svelte";
import Search from "./Search.svelte";

export interface Props {
    title: string;
    heading: string;
}
---

<Layout title={Astro.props.title}>
    <Navbar client:load />

    <img class='cat' src="/public/cat.svg" alt="">
    <main>
        <h3>{Astro.props.heading}</h3>
        <Search client:only />
    </main>
</Layout>

<style>
    h3 {
        opacity: 0.8;
        font-weight: 700;
        font-size: clamp(1.5rem, 5vw, 2.5rem);
    }

    main {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cat{
        top: 25%;
        right: calc(38vw - 32rem);
        width: 80rem;
        position: fixed;
        z-index: -10;
        pointer-events: none;
    }
</style>
