---
import Layout from "../layouts/Layout.astro";
import Navbar from "./Navbar.svelte";
import SearchInput from "./SearchInput.astro";

export interface Props {
    title: string;
    heading: string;
}
---

<Layout title={Astro.props.title}>
    <Navbar client:load />

    <main>
        <h3>{Astro.props.heading}</h3>
        <SearchInput />

        <slot />
    </main>
</Layout>

<style>
    h3 {
        opacity: 0.8;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }

    main {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
