---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap"
            rel="stylesheet"
        />

        <title>{frontmatter.title}</title>
    </head>
    <body>
        <h1>{frontmatter.title}</h1>
        <slot />
    </body>
</html>
<style is:global>
    code {
        font-size: 0.9rem;
    }
    p code {
        background-color: rgb(236, 236, 236);
        padding: 2px 0.25rem;
        border-radius: 3px;
    }
    .astro-code {
        padding: 1rem 1.25rem;
        border-radius: 4px;
    }
    .line {
        line-height: 1.3rem;
        tab-size: 2;
    }
</style>
