---
import Navbar from "../components/Navbar.svelte";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Navbar />
        <main class='md-layout'>
            <h1>{frontmatter.title}</h1>
            <slot />
        </main>
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );

        --base-color: #395290;
        --base-2: #5d71a3;
        --primary-color: #7d25ad;
        --primary-bg-color: #f8f8f8;
        --secondary-bg-color: #eaeaea;
    }

    html {
        font-family: "Shippori Mincho", serif;
        background-color: var(--secondary-bg-color);
        color: var(--base-color);
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
        font-size: .8em;
    }
    
    .md-layout{
        max-width: 55rem;
        margin: auto;
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        margin-bottom: 15rem;
        margin-top: 2rem;
        padding: 2rem 5rem;
        border-radius: 6px;
        background-color: var(--primary-bg-color)
    }
    .md-layout p {
        padding: 0 5px;
    }

    p code {
        background-color: rgb(236, 236, 236);
        padding: 2px 0.25rem;
        border-radius: 3px;
    }
    .astro-code {
        padding: 1rem 1.25rem;
        border-radius: 4px;
    }
    .line {
        line-height: 1.3em;
        tab-size: 2;
    }
</style>
